#root {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
  }

::-webkit-scrollbar-track {
  background: #F5EBFF; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #E0C2FF; /* Color of the scroll thumb */
  border-radius: 20px; /* Roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #AA98A9; /* Color on hover */
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 7.5vh 1fr 40vh;
  gap: 1em;
}

header {
  grid-area: header;
  overflow: hidden;
  width: 100%;
}

main {
  grid-area: main;
  grid-gap: 2em;
  width: 100%;
}

footer {
  grid-area: footer;
  width: 100%;
  overflow: hidden;
}


